apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: polyglot-ingress
  namespace: cc-orch
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
    - host: polyglot.cloud
      http:
        paths:
          # Frontend
          - path: /
            pathType: Prefix
            backend:
              service:
                name: dashboard
                port:
                  number: 80
          # API Routing: /api/ -> api:3000
          - path: /api/
            pathType: Prefix
            backend:
              service:
                name: api
                port:
                  number: 3000
